<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent( ~{this::content} )}">
<style>
        a:hover{
            cursor: pointer;
        }
</style>

    <th:block th:fragment="content">
        <h1 class="mt-4 text-center">Board List Page
        </h1>
        <a th:href="@{/board/write}" style="float: right" class="mr-2 mb-2">
            <button type="button" class="btn btn-outline-primary">REGISTER</button>
        </a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th scope="col">BNo.</th>
                <th scope="col">Title</th>
                <th scope="col">RegDate</th>
                <th scope="col">ModDate</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dto : ${board}">
                <td></td>
                <td>
                    <a class="readBtn" th:text="${dto.assId}"> </a>
                </td>
                <td th:text="${dto.assTitle}"></td>
                <td th:text="${#dates.format(dto.regDate, 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${dto.modDate == null ? '-' : #dates.format(dto.modDate, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            </tbody>
        </table>

    </th:block>
</th:block>
<script>
    $(function () {
        $('.readBtn').click(function () {
            let assId = $(this).text();
            location.href = '/board/read/' + assId;
        });
    });
</script>
</html>